In [1]:
import numpy as np
import pandas as pd

In [3]:
#One-to-one joins
df1=pd.DataFrame( 
    {
        'Nhân viên':['Bình','Minh','Lan','Vân'],
        'Phòng/Ban':['Kế toán','Kỹ thuật','Kỹ thuật','HCQT'] 
    }
)
df2=pd.DataFrame( 
    {
        'Nhân viên':['Bình','Minh','Lan','Vân'],
        'Năm':[2020,2010,2004,2011] 
    }
)
print("Dữ liệu df1:\n",df1)
print("\n Dữ liệu df2:\n",df2)

nhanvien=pd.merge(df1,df2) #nhanvien ~ df3
print(nhanvien)

Dữ liệu df1:
   Nhân viên Phòng/Ban
0      Bình   Kế toán
1      Minh  Kỹ thuật
2       Lan  Kỹ thuật
3       Vân      HCQT

 Dữ liệu df2:
   Nhân viên   Năm
0      Bình  2020
1      Minh  2010
2       Lan  2004
3       Vân  2011
  Nhân viên Phòng/Ban   Năm
0      Bình   Kế toán  2020
1      Minh  Kỹ thuật  2010
2       Lan  Kỹ thuật  2004
3       Vân      HCQT  2011

#### vd4.7.2.2

In [4]:
#One – to - Many
quanly=pd.DataFrame( 
    {
        'Phòng/Ban':['Kế toán','Kỹ thuật','HCQT'],  
        'Quản lý':['Ly','Cường','Minh'] 
    }
)
print("\n df3 :\n",nhanvien) ; print(quanly) 
#Quan hệ One-to_Many giữa Quản lý và Nhân viên
print("\nMerrge Quản lý & Nhân viên :\n", pd.merge(nhanvien,quanly))

 df3 :
   Nhân viên Phòng/Ban   Năm
0      Bình   Kế toán  2020
1      Minh  Kỹ thuật  2010
2       Lan  Kỹ thuật  2004
3       Vân      HCQT  2011
  Phòng/Ban Quản lý
0   Kế toán      Ly
1  Kỹ thuật   Cường
2      HCQT    Minh

Merrge Quản lý & Nhân viên :
   Nhân viên Phòng/Ban   Năm Quản lý
0      Bình   Kế toán  2020      Ly
1      Minh  Kỹ thuật  2010   Cường
2       Lan  Kỹ thuật  2004   Cường
3       Vân      HCQT  2011    Minh

#### vd4.7.2.3

In [5]:
quanly=pd.DataFrame({'Phòng/Ban':['Kế toán','Kỹ thuật','HCQT'],  
                     'Quản lý':['Ly','Cường','Ban']}) 
print(nhanvien); print("\n quanly :\n",quanly)
print("\nMerge nhanvien & quanly : \n",pd.merge(nhanvien,quanly))

  Nhân viên Phòng/Ban   Năm
0      Bình   Kế toán  2020
1      Minh  Kỹ thuật  2010
2       Lan  Kỹ thuật  2004
3       Vân      HCQT  2011

 quanly :
   Phòng/Ban Quản lý
0   Kế toán      Ly
1  Kỹ thuật   Cường
2      HCQT     Ban

Merge nhanvien & quanly :
   Nhân viên Phòng/Ban   Năm Quản lý
0      Bình   Kế toán  2020      Ly
1      Minh  Kỹ thuật  2010   Cường
2       Lan  Kỹ thuật  2004   Cường
3       Vân      HCQT  2011     Ban

#### vd4.7.2.4

In [6]:
pd.merge(df1,df2,on='Nhân viên')

  Nhân viên Phòng/Ban   Năm
0      Bình   Kế toán  2020
1      Minh  Kỹ thuật  2010
2       Lan  Kỹ thuật  2004
3       Vân      HCQT  2011

#### vd4.7.2.5

In [8]:
nv_salary=pd.DataFrame(
    {
        'Name':['Bình','Minh','Lan','Vân'],
        'salary':[7000000,9000000,9500000,8000000]
    }
)
print(nv_salary)

   Name   salary
0  Bình  7000000
1  Minh  9000000
2   Lan  9500000
3   Vân  8000000

In [9]:
print("Lương nv ứng với từng lĩnh vực:\n",
pd.merge(df1,nv_salary,left_on='Nhân viên',  right_on='Name'))

Lương nv ứng với từng lĩnh vực:
   Nhân viên Phòng/Ban  Name   salary
0      Bình   Kế toán  Bình  7000000
1      Minh  Kỹ thuật  Minh  9000000
2       Lan  Kỹ thuật   Lan  9500000
3       Vân      HCQT   Vân  8000000

In [10]:
pd.merge(df1,nv_salary,left_on='Nhân viên', right_on='Name').drop('Name',axis=1)

  Nhân viên Phòng/Ban   salary
0      Bình   Kế toán  7000000
1      Minh  Kỹ thuật  9000000
2       Lan  Kỹ thuật  9500000
3       Vân      HCQT  8000000

#### vd4.7.2.6

In [12]:
df1_idx=df1.set_index('Nhân viên')
df2_idx=df2.set_index('Nhân viên')
df3_idx=pd.merge(df1_idx,df2_idx,left_index=True,  right_index=True) 
df3_idx

          Phòng/Ban   Năm
Nhân viên
Bình        Kế toán  2020
Minh       Kỹ thuật  2010
Lan        Kỹ thuật  2004
Vân            HCQT  2011

In [13]:
df1_idx.join(df2_idx)

          Phòng/Ban   Năm
Nhân viên
Bình        Kế toán  2020
Minh       Kỹ thuật  2010
Lan        Kỹ thuật  2004
Vân            HCQT  2011

#### vd4.7.2.7

In [14]:
pd.merge(df2_idx,nv_salary, left_index=True,right_on='Name')

    Năm  Name   salary
0  2020  Bình  7000000
1  2010  Minh  9000000
2  2004   Lan  9500000
3  2011   Vân  8000000

#### vd4.7.2.8

In [16]:
nv_location=pd.DataFrame(
    {
        'Nhân viên':['Bình', 'Minh','Lan'],
        'Nơi sinh':['Hà Nội','Hồ Chí Minh','Nam định']  
    }
)
nv_age=pd.DataFrame(
    {
        'Nhân viên':['Bình','Vân','Lan'],
        'Age':[28,43,55]
    }
)
print("\nNơi sinh và tuổi của nv:\n", pd.merge(nv_location,nv_age))

Nơi sinh và tuổi của nv:
   Nhân viên  Nơi sinh  Age
0      Bình    Hà Nội   28
1       Lan  Nam định   55

In [17]:
print("\nNơi sinh và tuổi của nv:\n", pd.merge(nv_location,nv_age, how='inner'))

Nơi sinh và tuổi của nv:
   Nhân viên  Nơi sinh  Age
0      Bình    Hà Nội   28
1       Lan  Nam định   55

In [18]:
print("\nNơi sinh và tuổi của nv:\n", pd.merge(nv_location,nv_age, how='outer'))

Nơi sinh và tuổi của nv:
   Nhân viên     Nơi sinh   Age
0      Bình       Hà Nội  28.0
1      Minh  Hồ Chí Minh   NaN
2       Lan     Nam định  55.0
3       Vân          NaN  43.0

In [19]:
print("\nNơi sinh và tuổi của nv:\n",pd.merge(nv_location,nv_age, how='left')) 

print("\nNơi sinh và tuổi của nv:\n",pd.merge(nv_location,nv_age, how='right'))

Nơi sinh và tuổi của nv:
   Nhân viên     Nơi sinh   Age
0      Bình       Hà Nội  28.0
1      Minh  Hồ Chí Minh   NaN
2       Lan     Nam định  55.0

Nơi sinh và tuổi của nv:
   Nhân viên  Nơi sinh  Age
0      Bình    Hà Nội   28
1       Vân       NaN   43
2       Lan  Nam định   55

#### vd4.7.2.12

In [20]:
vang_rank=pd.DataFrame(
    {
        'Nhân viên':['Bình','Lan','Minh','Vân'],  'rank':[1,2,3,4]
    }
)
hs_rank=pd.DataFrame(
    {
        'Nhân viên':['Bình','Lan','Minh','Vân'],  'rank':[4,3,1,2]
    }
)
print("Xếp hạng trên số ngày nghỉ:\n",vang_rank) 
print("Xếp hạng trên hiệu suất công việc:\n",hs_rank) 
print("\nBảng xếp hạng :\n",pd.merge(vang_rank,hs_rank,  on='Nhân viên'))

Xếp hạng trên số ngày nghỉ:
   Nhân viên  rank
0      Bình     1
1       Lan     2
2      Minh     3
3       Vân     4
Xếp hạng trên hiệu suất công việc:
   Nhân viên  rank
0      Bình     4
1       Lan     3
2      Minh     1
3       Vân     2

Bảng xếp hạng :
   Nhân viên  rank_x  rank_y
0      Bình       1       4
1       Lan       2       3
2      Minh       3       1
3       Vân       4       2