In [6]:
import numpy as np
import pandas as pd

#Ghép 2 Series
sr1 = pd.Series(['Đ','H','K','T'],index=[1,2,3,4]) 
sr2 = pd.Series(['K','T','C','N'],index=[5,6,7,8]) 
pd.concat([sr1,sr2])

1    Đ
2    H
3    K
4    T
5    K
6    T
7    C
8    N
dtype: object

#### vd4.7.1.2

In [2]:
#Ghép 2 DataFrame
A=pd.DataFrame([['A0','B0'],['A1','B1']],columns=['A','B']) 
B=pd.DataFrame([['A2','B2'],['A3','B3']],columns=['A','B']) 

print(A,'\n')
print(B)

print("\nNối A và B theo hàng: \n", pd.concat([A,B]))
print("\nNối A và B theo cột:\n", pd.concat([A,B], axis = 1))

    A   B
0  A0  B0
1  A1  B1

    A   B
0  A2  B2
1  A3  B3

Nối A và B theo hàng:
     A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

Nối A và B theo cột:
     A   B   A   B
0  A0  B0  A2  B2
1  A1  B1  A3  B3

#### vd4.7.1.3

In [3]:
pd.concat([A,B],ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

#### vd4.7.1.5

In [4]:
print("A:\n",A)
print("\nB:\n",B)
pd.concat([A,B],keys=['Data A','Data B'])

A:
     A   B
0  A0  B0
1  A1  B1

B:
     A   B
0  A2  B2
1  A3  B3

           A   B
Data A 0  A0  B0
       1  A1  B1
Data B 0  A2  B2
       1  A3  B3