In [9]:
import pandas as pd
import numpy as np
df=pd.DataFrame(
    {
        'key':['A','B','C','A','B','C'],
        'data':range(6)
    },
    columns=['key','data']
)
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [10]:
df_group=df.groupby('key')
df_group

In [11]:
print(df_group.sum())

     data
key
A       3
B       5
C       7

#### vd4.8.2.2

In [12]:
data = {'Tên hs':['Bình', 'Hoa', 'Minh', 'Lan', 'Vân'],
        'Môn':['Toán', 'Lý', 'Toán', 'Hóa', 'Lý'],
        'Điểm':[8, 9, 7, 6, 8]
}

df = pd.DataFrame(data)
df

  Tên hs   Môn  Điểm
0   Bình  Toán     8
1    Hoa    Lý     9
2   Minh  Toán     7
3    Lan   Hóa     6
4    Vân    Lý     8

In [13]:
print(df_group.sum())

     data
key
A       3
B       5
C       7

#### vd4.8.2.3

In [14]:
df = pd.DataFrame(
    {
        'key':['A','B','C','A','B','C'],
        'giatri_1':np.random.randint(10,100,6),  
        'giatri_2':np.random.randint(0,10,6)  
    },
    columns=['key','giatri_1','giatri_2']
)
print("df: \n",df)

for key, giatri in df.groupby('key'):
    print("\nkey: ",key)
    print("value: \n",giatri)

df:
   key  giatri_1  giatri_2
0   A        74         9
1   B        16         5
2   C        18         9
3   A        43         7
4   B        88         8
5   C        39         0

key:  A
value:
   key  giatri_1  giatri_2
0   A        74         9
3   A        43         7

key:  B
value:
   key  giatri_1  giatri_2
1   B        16         5
4   B        88         8

key:  C
value:
   key  giatri_1  giatri_2
2   C        18         9
5   C        39         0

#### vd4.8.2.4

In [15]:
print(df.groupby('key').get_group('A'))

  key  giatri_1  giatri_2
0   A        74         9
3   A        43         7

In [16]:
print(df.groupby('key').get_group('B'))

  key  giatri_1  giatri_2
1   B        16         5
4   B        88         8

In [17]:
print(df.groupby('key').get_group('C'))

  key  giatri_1  giatri_2
2   C        18         9
5   C        39         0

#### vd4.8.2.5

In [18]:
grouped = df.groupby('key')
result = grouped.aggregate({'giatri_1':['sum','mean']})
result

    giatri_1
         sum  mean
key
A        117  58.5
B        104  52.0
C         57  28.5

#### vd4.8.2.6

In [19]:
groupped = df.groupby('key')
result = grouped.agg(
    {
        'giatri_1':sum, 'giatri_2':lambda x:x.mean()  
    })
result

     giatri_1  giatri_2
key
A         117       8.0
B         104       6.5
C          57       4.5

#### VD4.8.2.7

In [23]:
grouped = df.groupby('key')
normalized = (df['giatri_1'] - grouped['giatri_1'].transform('mean')) \
            / grouped['giatri_1'].transform('std')
normalized

0    0.707107
1   -0.707107
2   -0.707107
3   -0.707107
4    0.707107
5    0.707107
Name: giatri_1, dtype: float64

#### vd4.8.2.8

In [24]:
# Lọc các nhóm có giá trị 2 trung bình lớn hơn 5
filtered = grouped.filter(lambda x: x['giatri_2'].mean() > 5) 
# In nội dung của DataFrame 'filtered'
print("filtered: \n", filtered)

filtered:
   key  giatri_1  giatri_2
0   A        74         9
1   B        16         5
3   A        43         7
4   B        88         8

#### vd4.8.2.9

In [26]:
# DataFrame gốc
df = pd.DataFrame({'key': ['A','A','B','B', 'C', 'C'],  
                   'value': [1, 2, 3, 4, 5, 6]}) 

# Gom nhóm dữ liệu theo cột 'key'
grouped = df.groupby('key')

# Áp dụng hàm sum() lên cột 'value' của mỗi nhóm
result = grouped['value'].apply(sum)

#In kết quả
print("Result: \n", result)

Result:
 key
A     3
B     7
C    11
Name: value, dtype: int64

#### vd4.8 .2.10

In [27]:
# Áp dụng hàm describe() lên cột 'value' của mỗi nhóm'
result2 = grouped['value'].apply(lambda x: x.describe()) 
# In kết quả
print("Result2: \n", result2)

Result2:
 key
A    count    2.000000
     mean     1.500000
     std      0.707107
     min      1.000000
     25%      1.250000
     50%      1.500000
     75%      1.750000
     max      2.000000
B    count    2.000000
     mean     3.500000
     std      0.707107
     min      3.000000
     25%      3.250000
     50%      3.500000
     75%      3.750000
     max      4.000000
C    count    2.000000
     mean     5.500000
     std      0.707107
     min      5.000000
     25%      5.250000
     50%      5.500000
     75%      5.750000
     max      6.000000
Name: value, dtype: float64