In [1]:
import numpy as np
import pandas as pd

#### vd4.5.2.1

In [2]:
#Tạo một mảng numpy 2 chiều (3,4) từ 10 phần tử ngẫu nhiên từ 1->9
arr = np.random.randint(10,size=(3,4))
arr

array([[4, 7, 4, 8],
       [2, 7, 0, 9],
       [5, 5, 9, 8]])

In [3]:
arr-arr[0]

array([[ 0,  0,  0,  0],
       [-2,  0, -4,  1],
       [ 1, -2,  5,  0]])

In [5]:
#Tạo DataFrame df từ mảng Numpy arr, với các cột là P,Q,M,N
df = pd.DataFrame(arr,columns=['P','Q','M','N'])
print("df:\n",df)

df:
    P  Q  M  N
0  4  7  4  8
1  2  7  0  9
2  5  5  9  8

In [6]:
df-df.iloc[0]

   P  Q  M  N
0  0  0  0  0
1 -2  0 -4  1
2  1 -2  5  0

#### vd4.5.2.11

In [8]:
st_sr = pd.Series(['Uneti','Khưd',None,np.nan])
st_sr

0    Uneti
1     Khưd
2     None
3      NaN
dtype: object

#### vd4.5.2.12

In [9]:
st_sr = pd.Series(['Uneti','Khưd',None,np.nan])
st_sr.isnull()

0    False
1    False
2     True
3     True
dtype: bool

#### vd 4.5.2.13

In [10]:
st_sr[st_sr.notnull()]

0    Uneti
1     Khưd
dtype: object

In [12]:
#Tạo DataFrame có chứa giá trị null
data = {'A':[1, 2, np.nan, 4],
        'B':[np.nan, 6, 7, 8],
        'C':[9, 10, 11, 12]}
df = pd.DataFrame(data)

#Kiểm tra giá trị null trong DataFrame
print(df.isnull())
print(df.notnull())

       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
3  False  False  False
       A      B     C
0   True  False  True
1   True   True  True
2  False   True  True
3   True   True  True

#### vd4.5.2.14

In [13]:
drop_st=st_sr.dropna()
print('Series \n', drop_st)
print('Series ban đầu: \n',st_sr)

Series
 0    Uneti
1     Khưd
dtype: object
Series ban đầu:
 0    Uneti
1     Khưd
2     None
3      NaN
dtype: object

In [14]:
print(df,"\n")
df['A']=np.nan
print(df,"\n")

df.dropna(how = 'all',axis=1)

     A    B   C
0  1.0  NaN   9
1  2.0  6.0  10
2  NaN  7.0  11
3  4.0  8.0  12

    A    B   C
0 NaN  NaN   9
1 NaN  6.0  10
2 NaN  7.0  11
3 NaN  8.0  12

     B   C
0  NaN   9
1  6.0  10
2  7.0  11
3  8.0  12

In [15]:
data = pd.Series([1,np.nan, 2, None, 3],index = list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [16]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64